spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/springdata
    username: njj
    password: '{cipher}ca58ef669918335431775f21112e309f42244b0aad64062199a1edc6318c97d6'

  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: "org.hibernate.dialect.PostgreSQLDialect"
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        jdbc:
          lob:
            non_contextual_creation: true